SESSION_SECRET=secret-key-here
ADMIN_LOGIN=Admin26
ADMIN_PASSWORD=Demo20

# Поменяйте тут свои данные для подключения к БД
DB_USER=postgres
DB_HOST=localhost
DB_DATABASE=demoexam
DB_PASSWORD=12345
DB_PORT=5432
